<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
	<appSettings>
		<add key="ImagePath" value="C:\images"/>
		<add key="XMLDBPath" value="Z:\csc360\projects\project1\16_Example.xml"/>
	</appSettings>
</configuration>